h1 {
  margin-bottom: 20px;
}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-content h2 {
  margin: 0;
  font-size: 3em;
  font-weight: 300;
}