.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #f5f5f5;
}

.sidenav-content {
  padding: 20px;
}

mat-nav-list a {
  margin-bottom: 8px;
}

mat-nav-list mat-icon {
  margin-right: 12px;
}